@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; /* Remove o highlight azul nativo em toques no mobile */
  background-color: #f9fafb; /* Equivalente ao bg-gray-50 */
}